<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-init="init()">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ISKA Demo app</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container with-margin-top with-margin-bottom">

  <div class="row">
    <div class="col-xs-12">
      <h1>Producten</h1>
      <table class="table table-bordered table-hover table-striped">
        <tr>
          <th class="col-xs-2">#id</th>
          <th class="col-xs-4">Naam</th>
          <th class="col-xs-4">Verkoopprijs</th>
          <th class="col-xs-2">Verwijder</th>
        </tr>
        <tr ng-repeat="product in producten">
          <td>{{product.id}}</td>
          <td>{{product.naam}}</td>
          <td>{{product.verkoopprijs | currency}}</td>
          <td>
            <button class="btn btn-danger btn-block" ng-click="verwijder(product.id)">Verwijder</button>
          </td>
        </tr>
      </table>

      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="naam">Naam</label>
          <input type="text" class="form-control" id="naam" placeholder="Naam" ng-model="product.naam">
        </div>
        <div class="form-group">
          <label class="sr-only" for="verkoopprijs">Verkoopprijs</label>
          <input type="number" class="form-control" id="verkoopprijs" placeholder="Verkoopprijs"
                 ng-model="product.verkoopprijs">
        </div>
        <input type="button" class="btn btn-success" value="Toevoegen" ng-click="submitProduct()">
        <label class="text-danger">{{errorMessage}}</label>
      </form>
      <hr/>
    </div>
  </div>

 </div>
</div>
<footer>
  <hr/>
  <div class="container">
    @ ISKA 2014
  </div>
</footer>